*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background:#f5f7fa;
  color:#333;
  line-height:1.6;
}

header{
  background:#0b7a3d;
  color:white;
  text-align:center;
  padding:30px 20px;
}

header h1{
  font-size:36px;
}

header p{
  font-size:18px;
  margin-top:10px;
}

nav{
    background:#06662f;
    display:flex;
    justify-content:center;
    gap:30px;
    padding:15px;
    flex-wrap:nowrap;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-weight:bold;
  font-size:18px;
}

nav a:hover{
  color:#ffd700;
}

section{
  max-width:1000px;
  margin:30px auto;
  padding:20px;
}

.hero{
  background:white;
  padding:40px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.hero h2{
  font-size:32px;
  margin-bottom:15px;
}

.btn{
  display:inline-block;
  background:#0b7a3d;
  color:white;
  padding:12px 25px;
  text-decoration:none;
  border-radius:5px;
  margin-top:20px;
}

.btn:hover{
  background:#06662f;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card h3{
  color:#0b7a3d;
  margin-bottom:10px;
}

footer{
  background:#0b7a3d;
  color:white;
  text-align:center;
  padding:20px;
  margin-top:40px;
}
.product-details{
  max-width:900px;
  margin:40px auto;
  background:#fff;
  padding:30px;
  border-radius:12px;
  box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.product-details img{
  width:100%;
  max-width:350px;
  display:block;
  margin:0 auto 25px;
  border-radius:10px;
}

.product-details h1{
  color:#0b7a3d;
  margin-bottom:15px;
  text-align:center;
}

.product-details h2{
  color:#0b7a3d;
  margin-top:25px;
}

.back-btn{
  display:inline-block;
  background:#0b7a3d;
  color:#fff;
  padding:10px 20px;
  text-decoration:none;
  border-radius:5px;
  margin-bottom:20px;
}

.back-btn:hover{
  background:#06662f;
}
.product-layout{
  display:flex;
  gap:40px;
  align-items:flex-start;
  flex-wrap:wrap;
}

.product-image{
  flex:1;
  min-width:280px;
  text-align:center;
}

.product-info{
  flex:2;
  min-width:300px;
}
.product-details ul{
    list-style:none;
    padding:0;
    margin:15px 0 25px 0;
}

.product-details li{
    background:#eaf8ef;
    border-left:5px solid #0b7a3d;
    padding:12px 15px;
    margin-bottom:12px;
    border-radius:8px;
    font-size:17px;
    font-weight:500;
}
.product-table{
    width:100%;
    border-collapse:collapse;
    margin:20px 0;
}

.product-table th,
.product-table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:left;
}

.product-table th{
    background:#0b7a3d;
    color:white;
    width:35%;
}

.product-table tr:nth-child(even){
    background:#f8f8f8;
}
